* {
    /* margin: 0;
    padding: 0; */
    box-sizing: border-box;
    /* outline: none; */
}

.page {
    height: 100%;
}

body {
    font-family: 'Montserrat', 'Arial', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    color: #533738;
    min-width: 1400px;
    min-height: 100%;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-content: start;
    background-color: #E5E5E5;
}

img {
    max-width: 100%;
    height: auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    width: 1400px;
    margin: 0 auto;
}

.center {
    width: 1200px;
    margin: 0 auto;
}

/*header*/
.main-header {
    margin-bottom: -100px;
    position: relative;
}

.site-navigation {
    grid-template-columns: 178px 1fr max-content;
    display: grid;
    align-items: center;
    margin-top: 36px;
}

.site-navigation-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.logo {
    padding-left: 25px;
    position: relative;
}

.logo::before {
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    background-image: url("../img/logo.svg");
    left: 0;
    top: 2px;

}

.site-navigation-item {
    margin-right: 26px;
}

.site-navigation-link,
.phone-link {
    text-decoration: none;
    display: block;
    font-size: 16px;
    line-height: 20px;
    color: inherit;
}

.site-navigation-link:hover,
.phone-link:hover {
    text-decoration: underline;
}

.title {
    font-style: normal;
    font-weight: normal;
    color: #533738;
    margin: 0;
    padding: 0;
}

.make_order {
    padding-top: 152px;
    padding-left: 184px;
    background-color: #EFE6E4;
    background-image: url("../img/main-img.jpg");
}

.title_order {
    font-size: 50px;
    line-height: 62px;
    width: 535px;
}

.title-basic {
    text-transform: uppercase;
    font-size: 40px;
    line-height: 50px;
}

.make_order-content {
    width: 500px;
}

.button {
    background-color: #CC8B86;
    text-decoration: none;
    display: inline-block;
    padding: 25px 67px;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #533738;
    min-width: 309px;
}

.button_order {
    margin-bottom: 168px;
}

.button:hover {
    background-color: #CE7972;
}

.button:active,
.button:focus {
    background-color: #BC554E;
}

.about {
    padding-top: 65px;
    padding-right: 182px;
    padding-left: 182px;
    padding-bottom: 21px;
    background-color: #EFE6E4;
}

.title-center {
    text-align: center;
    margin-bottom: 40px;
}

.about-content {
    display: grid;
    grid-template-columns: repeat(2, 50%);
}

/*achievements*/
.achievements {
    background-color: #8D7370;
    color: #fff;
    padding-top: 85px;
    padding-bottom: 81px;
}

.achievements-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

dl {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

dt {
    font-size: 50px;
    line-height: 62px;
}

dd {
    font-weight: 500;
    font-size: 30px;
    line-height: 37px;
    text-transform: uppercase;
    margin: 0;
}

/*projects*/

.projects {
    padding-top: 65px;
    padding-bottom: 65px;
    padding-left: 100px;
    padding-right: 100px;
    background-color: #EFE6E4;
}

.projects-gallery {
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    flex-wrap: wrap;
    margin-right: -20px;
}

.projects-gallery-item {
    margin-right: 20px;
    margin-bottom: 30px;
}

.show-link {
    display: block;
    text-align: center;
    font-weight: 500;
    font-size: 30px;
    line-height: 37px;
    text-decoration: none;
    color: inherit;
}

.show-link:hover {
    opacity: 0.6;
}

.wrapper_sections {
    background-color: #E2C4BA;
}

/*team*/
.team {
    padding-top: 50px;
}

.team-wrapper {
    width: 1036px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.team-item {
    width: 320px;
}

/*work*/
.work {
    padding-bottom: 80px;
}

.work-stages-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.work-stages-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.work-stages-item span {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 30px;
    line-height: 30px;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background-color: #8D7370;
    color: #FFF;
}

.work-stages-item-text {
    text-align: center;
}

/*review*/
.reviews {
    padding-top: 65px;
    padding-bottom: 65px;
    background-color: #EFE6E4;
    position: relative;
}

.galery-button {
    position: absolute;
    background-color: #CC8B86;
    width: 72px;
    height: 72px;
    border-radius: 50%;
    border: none;
}

.galery-button:hover {
    background-color: #CE7972;
}

.galery-button:active,
.galery-button:focus {
    background-color: #BC554E;
}

.galery-button-back {
    left: 200px;
    top: 400px;
}

.galery-button-forward {
    right: 200px;
    top: 400px;
}

.reviews-item {
    width: 834px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 24px;
    column-gap: 20px;
}

blockquote {
    grid-row: span 2;
    margin: 0;
    padding: 0;
    padding-top: 71px;
}

.reviews-item cite {
    text-transform: uppercase;
    font-style: normal;
}

.contacts {
    background-color: #8D7370;
    height: 624px;
    display: grid;
    grid-template-columns: 1fr 590px;
    padding-left: 181px;
    padding-right: 100px;
    /* color: #FFF;
    opacity: 0.6; */
}

.title-contacts {
    color: #FFF;
    padding-top: 50px;
}

.contacts-text {
    color: rgba(255, 255, 255, 0.6);
    margin: 0;
    margin-top: 24px;
}

form {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

form input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #F6EDE9;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    color: #F6EDE9;
    padding-bottom: 5px;
    margin-top: 35px;
}

form input::-webkit-input-placeholder {
    color: #F6EDE9;
}

form input::-moz-placeholder {
    color: #F6EDE9;
}

.button_form {
    border: none;
    align-self: flex-start;
    margin-top: 31px;
}

iframe {
    width: 100%;
    height: 100%;
}

.main-footer {
    padding-right: 100px;
    padding-left: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 104px;
    background-color: #EFE6E4;
}

.footer-contacts {
    display: flex;
    align-items: center;
}

.footer_phone-link {
    margin-right: 42px;
}